<h1 class="d-flex justify-content-center">Settings</h1>
<a class="btn btn-danger" routerLink="/">close</a>
<div class="row">
    <div class="col-3">
        <ul class="list-group list-group-flush">
            <li *ngFor="let component of components" class="list-group-item list-group-item-action" (click)="onNavItem(component)">
                <h5>{{component}}</h5>
            </li>
        </ul>
        <nav class="nav nav-pills nav-justified flex-column">
            <a class="nav-item nav-link">{{component}}</a>
        </nav>
    </div>
    <div class="col-9">
        <div [ngSwitch]="currentComponent">
            <stability-settings *ngSwitchCase="stabilitySettings"></stability-settings>
            <webdriver-settings *ngSwitchCase="webdriverSettings"></webdriver-settings>
            <general-settings *ngSwitchDefault></general-settings>
        </div>
    </div>
</div>