<h2>Webdriver Settings</h2>
<form #form="ngForm" (ngSubmit)="onSubmit(form)">
    <div class="form-group">
        <label>Selenium Grid Url</label>
        <input type="url" class="form-control" placeholder="Selenium Grid Url" name="seleniumGridUrl" [ngModel]="settings.seleniumGridUrl"
            #seleniumGridUrl="ngModel">
        <small class="form-text text-muted">Defaults to localhost:4444</small>
    </div>
    <button type="submit" class="btn btn-primary">
        <fa-icon icon="save"></fa-icon> Save
    </button>
</form>
<h5 class="mt-3">Browsers</h5>
<div class="form-row">
    <div class="form-group col-6">
        <label>Name</label>
        <input type="text" class="form-control" [(ngModel)]="newBrowser.name">
    </div>
    <div class="form-group col-6">
        <label>Type</label>
        <select class="form-control" [(ngModel)]="newBrowser.type">
            <option *ngFor="let type of types" [value]="type">{{type}}</option>
        </select>
    </div>
</div>
<div class="form-row">
    <div class="form-group col-2">
        <label>Width</label>
        <input type="number" min="300" class="form-control" [(ngModel)]="newBrowser.width">
    </div>
    <div class="form-group col-2">
        <label>Height</label>
        <input type="number" min="300" class="form-control" [(ngModel)]="newBrowser.height">
    </div>
    <div class="col-2 mb-2">
        <label>Headless</label>
        <div *ngIf="shouldDisplayHeadlessCheckbox()" class="form-group form-check">
            <input type="checkbox" class="form-check-input" [(ngModel)]="newBrowser.headless">
            <label class="form-check-label">Headless</label>
        </div>
    </div>
</div>
<div class="form-row">
    <div class="form-group col-6">
        <label>Number of Iterations</label>
        <input type="number" min="1" class="form-control" [(ngModel)]="newBrowser.numberIterations">
        <small class="form-text text-muted">Number of iterations the sequences are tested per browser.</small>
    </div>
    <div class="form-group col-5">
        <label>Sleep Time</label>
        <input type="number" min="1" class="form-control" [(ngModel)]="newBrowser.sleepTimeBetweenActions">
        <small class="form-text text-muted">Webdriver sleep milliseconds between Actions</small>
    </div>
    <div class="form-group col-1">
        <label>Add</label>
        <button class="btn btn-block btn-primary" (click)="onAddBrowser()">
            <fa-icon icon="plus"></fa-icon>
        </button>
    </div>
</div>
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Type</th>
            <th scope="col">Resolution</th>
            <th scope="col">#Iterations</th>
            <th scope="col">SleepTime (ms)</th>
            <th scope="col">Headless</th>
            <th scope="col">Options</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let browser of settings.browsers">
            <th scope="row">{{browser.name}}</th>
            <td>{{browser.type}}</td>
            <td>{{browser.width}} <fa-icon icon="times"></fa-icon> {{browser.height}}</td>
            <td>{{browser.numberIterations}}</td>
            <td>{{browser.sleepTimeBetweenActions}}</td>
            <td><span *ngIf="browser.headless" class="badge badge-primary">Headless</span></td>
            <td>
                <button class="btn btn-sm btn-danger" (click)="onDeleteBrowser(browser)">
                    <fa-icon icon="trash"></fa-icon>
                </button>
            </td>
        </tr>
    </tbody>
</table>