<h2>Webdriver</h2>
<hr>
<form #form="ngForm" (ngSubmit)="onSubmit(form)">
  <div class="form-group">
    <label>Selenium Grid Url</label>
    <input type="url" class="form-control" placeholder="Selenium Grid Url" name="seleniumGridUrl"
      [(ngModel)]="settings.seleniumGridUrl" #seleniumGridUrl="ngModel">
    <small class="form-text text-muted">Defaults to http://localhost:4444/wb/hub</small>
  </div>
  <button type="submit" class="btn btn-primary">
    <fa-icon icon="save"></fa-icon> Save
  </button>
</form>
