<div class="row">
  <div class="col">
    <div class="input-group">
      <div class="input-group-prepend">
        <button [attr.disabled]="canGoBack ? null : ''" (click)="onBack()" class="btn btn-outline-secondary" type="button">
          <fa-icon icon="arrow-left"></fa-icon>
        </button>
        <button [attr.disabled]="canGoForward ? null : ''" (click)="onForward()" class="btn btn-outline-secondary" type="button">
          <fa-icon icon="arrow-right"></fa-icon>
        </button>
        <button (click)="onRefresh()" class="btn btn-outline-secondary" type="button">
          <fa-icon icon="sync"></fa-icon>
        </button>
      </div>
      <input [(ngModel)]="inputUrl" (keyup.enter)="onLoadUrl()" type="text" class="form-control">
    </div>
  </div>
</div>
<div class="row mt-1">
  <div class="col">
    <webview #webview src="https://www.github.com/" [attr.preload]="preloadScriptPath"></webview>
  </div>
</div>
