<div class="modal-header">
    <h4 class="modal-title">Export to Alex.JSON</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div class="form-group">
        <label>File Name:</label>
        <input type="text" class="form-control" [(ngModel)]="fileName">
    </div>
    <div class="form-group">
        <label>Path:</label>
        <input type="text" class="form-control" [(ngModel)]="path">
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-light" (click)="activeModal.dismiss()">
        <fa-icon icon="times"></fa-icon> Cancel
    </button>
    <button type="button" class="btn btn-primary" (click)="activeModal.close({fileName: fileName, path: path})">
        <fa-icon icon="file-export"></fa-icon> Export
    </button>
</div>