<div class="row">
  <div class="col">
    <a class="btn btn-sm btn-primary mr-1" routerLink="/settings">
      <fa-icon icon="cog"></fa-icon>
    </a>
    <button class="btn btn-sm btn-outline-secondary mr-1">
      <fa-icon icon="save"></fa-icon>
    </button>
    <button class="btn btn-sm btn-outline-secondary mr-1">
      <fa-icon icon="folder-open"></fa-icon>
    </button>
    <button class="btn btn-sm btn-outline-secondary mr-1">
      <fa-icon icon="file-export"></fa-icon>
    </button>
    <button class="btn btn-sm btn-outline-secondary mr-1">
      <fa-icon icon="plus"></fa-icon>
    </button>
  </div>
</div>
<app-project></app-project>
<app-statusbar></app-statusbar>