<div class="row">
    <div class="col">
        <h2>Error: Could not reproduce sequence sequence name</h2>
        <h5 class="mb-1">at Action id:
            type</h5>
        <p>Iteration: iteration</p>
        <h5>Expected:</h5>
        <h5>Found:</h5>
        <button class="btn btn-primary" (click)="onRecordAgain()">
            <fa-icon icon="sync"> Record Again</fa-icon>
        </button>
        <button class="btn btn-danger" (click)="onClose()">
            <fa-icon icon="times"></fa-icon>
        </button>
    </div>
</div>