<h2>General Settings</h2>
<form #form="ngForm" (ngSubmit)="onSubmit(form)">
    <div class="form-group">
        <label>Home Url</label>
        <input type="url" class="form-control" placeholder="Home Url" name="homeUrl" [ngModel]="settings.homeUrl" #homeUrl="ngModel">
        <small class="form-text text-muted">Leave empty for blank page.</small>
    </div>
    <button type="submit" class="btn btn-primary"><fa-icon icon="save"></fa-icon> Save</button>
</form>
<button class="btn btn-danger mt-3" (click)="onReset()">
    <fa-icon icon="exclamation"></fa-icon> Reset Settings to Default <fa-icon icon="exclamation"></fa-icon>
</button>