<div class="d-flex justify-content-end">
    <div class="btn-group mr-1">
        <button class="btn btn-outline-secondary">
            <fa-icon icon="fast-backward"></fa-icon>
        </button>
        <button class="btn btn-outline-secondary">
            <fa-icon icon="step-backward"></fa-icon>
        </button>
    </div>
    <button class="btn btn-outline-secondary mr-1">
        <fa-icon icon="square"></fa-icon>
    </button>
    <div class="btn-group btn-group-toggle mr-1" ngbRadioGroup name="radioBasic" [(ngModel)]="model">
        <label ngbButtonLabel class="btn-outline-secondary">
            <input ngbButton type="radio" [value]="1">
            <fa-icon icon="pause"></fa-icon>
        </label>
        <label ngbButtonLabel class="btn-outline-secondary">
            <input ngbButton type="radio" value="middle">
            <fa-icon icon="play"></fa-icon>
        </label>
        <label ngbButtonLabel class="btn-outline-secondary">
            <input ngbButton type="radio" [value]="false">
            <fa-icon icon="circle"></fa-icon>
        </label>
    </div>
    <div class="btn-group">
        <button class="btn btn-outline-secondary">
            <fa-icon icon="step-forward"></fa-icon>
        </button>
        <button class="btn btn-outline-secondary">
            <fa-icon icon="fast-forward"></fa-icon>
        </button>
    </div>
</div>