<div class="row">
    <div class="col">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <button (click)="onBack()" class="btn btn-outline-secondary" type="button">
                    <fa-icon icon="arrow-left"></fa-icon>
                </button>
                <button (click)="onForward()" class="btn btn-outline-secondary" type="button">
                    <fa-icon icon="arrow-right"></fa-icon>
                </button>
                <button (click)="onReload()" class="btn btn-outline-secondary" type="button">
                    <fa-icon icon="sync"></fa-icon>
                </button>
            </div>
            <input [(ngModel)]="inputUrl" (keyup.enter)="onUpdateWebviewUrl()" type="text" class="form-control">
        </div>
    </div>
</div>
<div class="row">
    <div class="col">
        <webview #webview [attr.src]="webviewUrl"></webview>
    </div>
</div>