<div *ngIf="!showBrowserWindow && currentAction" class="row">
  <div class="col-3 pr-0">
    <nav class="navbar navbar-light bg-light">
      <div>
        <button (click)="onSubmit()" class="btn btn-sm btn-success mr-1">
          Done <fa-icon icon="square"></fa-icon>
        </button>
        <button (click)="cancel.emit()" class="btn btn-sm btn-danger">
          Cancel <fa-icon icon="times"></fa-icon>
        </button>
      </div>
      <button (click)="showBrowserWindow = true" class="btn btn-sm btn-primary">
        Do Action
      </button>
    </nav>
    <div class="row">
      <div class="col">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <h4>{{sequence.name}}: Old</h4>
          </li>
          <li *ngFor="let action of sequence.actions; let i = index" class="list-group-item"
            [class.active]="action === currentAction">
            <h5 class="mb-1">{{i}}: {{getActionName(action)}}</h5>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-9 pl-0">
    <nav class="navbar navbar-light bg-light">
      <div *ngIf="isGoTo(currentAction)" class="input-group input-group-sm">
        <input [ngModel]="asGoTo(currentAction).url" type="text" class="form-control">
      </div>
    </nav>
    <div class="row">
      <div class="col">
        <img *ngIf="currentAction" [src]="currentAction.image">
      </div>
    </div>
    <div class="row">
      <div class="col">
        <span *ngIf="isRead(currentAction)" class="badge badge-dark mr-1">
          Read Value: {{asRead(currentAction).value}}
        </span>
        <span *ngIf="isType(currentAction)" class="badge badge-dark">
          Typed Value: {{asType(currentAction).value}}
        </span>
      </div>
    </div>
  </div>
</div>
<div class="row" [style.visibility]="showBrowserWindow || !currentAction ? 'visible' : 'hidden'">
  <div class="col-3 pr-0">
    <nav class="navbar navbar-light bg-light">
      <div>
        <button (click)="onSubmit()" class="btn btn-sm btn-success mr-1">
          Done <fa-icon icon="square"></fa-icon>
        </button>
        <button (click)="cancel.emit()" class="btn btn-sm btn-danger">
          Cancel <fa-icon icon="times"></fa-icon>
        </button>
      </div>
      <button (click)="showBrowserWindow = false" class="btn btn-sm btn-primary" [class.disabled]="!currentAction">
        <fa-icon icon="eye"></fa-icon> View Action
      </button>
    </nav>
    <div class="row">
      <div class="col">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <h4 class="mt-2">{{newSequence.name}}: New</h4>
          </li>
          <li *ngFor="let action of newSequence.actions; let i = index" class="list-group-item">
            <h5 class="mb-1">{{i}}: {{getActionName(action)}}</h5>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-9 pl-0">
    <app-browser-window [settings]="settings" [sequence]="newSequence" (actionEmitter)="onNextAction()">
    </app-browser-window>
  </div>
</div>
