<div class="row" *ngIf="!showBrowserWindow && currentAction">
  <div class="col-3">
    <button (click)="cancel.emit()" class="btn btn-sm btn-danger">
      Cancle <fa-icon icon="times"></fa-icon>
    </button>
    <button (click)="onSubmit()" class="btn btn-sm btn-success ml-1">
      Done <fa-icon icon="square"></fa-icon>
    </button>
    <h4 class="mt-2">{{sequence.getName()}}: Old</h4>
    <ul class="list-group list-group-flush">
      <li *ngFor="let action of sequence.getActions(); let i = index" class="list-group-item"
        [class.active]="action === currentAction">
        <h5 class="mb-1">{{i}}: {{action.getClassName()}}</h5>
      </li>
    </ul>
  </div>
  <div class="col-9">
    <div class="row mb-3">
      <div class="col-2">
        <button (click)="showBrowserWindow = true" class="btn btn-sm btn-block btn-primary">
          Do Step <fa-icon icon="arrow-right"></fa-icon>
        </button>
      </div>
      <div class="col-10">
        <span class="badge badge-dark mr-1">
          Action Type: {{currentAction.getClassName()}}
        </span>
        <span *ngIf="isGoTo(currentAction)" class="badge badge-dark mr-1">
          Url: {{asGoTo(currentAction).getUrl()}}
        </span>
        <span *ngIf="isRead(currentAction)" class="badge badge-dark mr-1">
          Read Value: {{asRead(currentAction).getValue()}}
        </span>
        <span *ngIf="isType(currentAction)" class="badge badge-dark">
          Typed Value: {{asType(currentAction).getValue()}}
        </span>
      </div>
    </div>
    <img *ngIf="currentAction" [src]="currentAction.getImage()">
  </div>
</div>
<div class="row" [style.visibility]="showBrowserWindow || !currentAction ? 'visible' : 'hidden'">
  <div class="col-3">
    <button (click)="cancel.emit()" class="btn btn-sm btn-danger">
      Cancel <fa-icon icon="times"></fa-icon>
    </button>
    <button (click)="onSubmit()" class="btn btn-sm btn-success ml-1">
      Done <fa-icon icon="square"></fa-icon>
    </button>
    <h4 class="mt-2">{{newSequence.getName()}}: New</h4>
    <ul class="list-group list-group-flush">
      <li *ngFor="let action of newSequence.getActions(); let i = index" class="list-group-item">
        <h5 class="mb-1">{{i}}: {{action.getClassName()}}</h5>
      </li>
    </ul>
  </div>
  <div class="col-9">
    <div class="row mb-3">
      <div class="col-2">
        <button (click)="showBrowserWindow = false" class="btn btn-sm btn-block btn-primary" [class.disabled]="!currentAction">
          <fa-icon icon="arrow-left"></fa-icon> View Step
        </button>
      </div>
    </div>
    <app-browser-window [settings]="settings" [sequence]="newSequence" (actionEmitter)="onNextAction()">
    </app-browser-window>
  </div>
</div>
