<h2>Alex Settings</h2>
<form #form="ngForm" (ngSubmit)="onSubmit(form)">
    <div class="form-group">
        <label>Alex Url</label>
        <input type="url" class="form-control" placeholder="Alex Url" name="alexUrl" [ngModel]="settings.alexUrl"
            #homeUrl="ngModel">
    </div>
    <h5>Login</h5>
    <div class="form-group">
        <label>Alex Email</label>
        <input type="email" class="form-control" placeholder="Alex Email" name="alexEmail" [ngModel]="settings.alexEmail"
            #homeUrl="ngModel">
    </div>
    <div class="form-group">
        <label>Alex Password</label>
        <input type="password" class="form-control" placeholder="Alex Password" name="alexPassword" [ngModel]="settings.alexPassword"
            #homeUrl="ngModel">
    </div>
    <button type="submit" class="btn btn-primary">
        <fa-icon icon="save"></fa-icon> Save
    </button>
</form>