<div class="modal-header">
    <h4 class="modal-title">Could not replay Sequence: {{sequence.name}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <p>Replaying this Sequence failed at least in one Browser:</p>
    <div class="alert alert-danger angular-with-newlines" role="alert">{{errorMessage}}</div>
    <strong>Do you want to record again?</strong>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-light" (click)="activeModal.dismiss()">
        <fa-icon icon="times"></fa-icon> No
    </button>
    <button type="button" class="btn btn-danger" (click)="activeModal.close()">
        <fa-icon icon="circle"></fa-icon> Yes
    </button>
</div>