<h2>General</h2>
<hr>
<h5>Recorder</h5>
<div class="form-group">
  <label>Home Url</label>
  <input type="url" class="form-control" placeholder="Home Url" name="homeUrl" [ngModel]="settings.homeUrl"
    #homeUrl="ngModel">
  <small class="form-text text-muted">Every new recorded Sequence will start with a GoTo Action to this URL. Leave
    empty, if you want to record the first Action yourself.</small>
</div>
<label>Custom Recorder Window Resolution</label>
<div class="row">
  <div class="col">
    <input *ngIf="settings.shouldMaximizeWebviewSize" type="number" min="1" class="form-control" placeholder="width"
      name="webviewWidth" [(ngModel)]="settings.webviewWidth" readonly>
    <input *ngIf="!settings.shouldMaximizeWebviewSize" type="number" min="1" class="form-control" placeholder="width"
      name="webviewWidth" [(ngModel)]="settings.webviewWidth">
  </div>
  <div class="col">
    <input *ngIf="settings.shouldMaximizeWebviewSize" type="number" min="1" class="form-control" placeholder="height"
      name="webviewHeight" [(ngModel)]="settings.webviewHeight" readonly>
    <input *ngIf="!settings.shouldMaximizeWebviewSize" type="number" min="1" class="form-control" placeholder="height"
      name="webviewHeight" [(ngModel)]="settings.webviewHeight">
  </div>
</div>
<div class="form-check mt-3">
  <input type="checkbox" class="form-check-input" [(ngModel)]="settings.shouldMaximizeWebviewSize">
  <label class="form-check-label">Maximize Recorder Size</label>
</div>
<button (click)="onSubmit()" type="submit" class="btn btn-primary mt-3">
  <fa-icon icon="save"></fa-icon> Save
</button>
<hr>
<h5>Danger Zone</h5>
<button class="btn btn-danger mt-3" (click)="onResetSettings(resetSettingsModalContent)">
  <fa-icon icon="exclamation-triangle"></fa-icon> Reset all Settings to Default
</button>

<ng-template #resetSettingsModalContent let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Reset Settings</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <p>This will reset <b>all</b> Settings to default. Are you sure?</p>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-light" (click)="modal.dismiss()"><fa-icon icon="times"></fa-icon> Cancel
    </button>
    <button type="button" class="btn btn-danger" (click)="modal.close()"><fa-icon icon="exclamation-triangle"></fa-icon> Reset
    </button>
  </div>
</ng-template>
