<h4>{{currentSequence.name}}</h4>
<ul class="list-group list-group-flush">
    <li *ngFor="let action of currentSequence.actions; let i = index" class="list-group-item">
        <h5 class="mb-1">{{i}}: {{action.type}}</h5>
        <div>
            <small *ngIf="action.selector">
                selector: {{action.selector}}
            </small>
        </div>
        <div>
            <small *ngIf="action.value">
                value: {{action.value}}
            </small>
        </div>
        <div>
            <small *ngIf="action.url">
                url: {{action.url}}
            </small>
        </div>
        <div>
            <small *ngIf="action.filename">
                filename: {{action.filename}}
            </small>
        </div>
        <div>
            <small *ngIf="action.id">
                id: {{action.id}}
            </small>
        </div>
    </li>
</ul>