<ul class="list-group list-group-flush">
    <li *ngFor="let action of actions; let i = index" class="list-group-item">
        <h5 class="mb-1">{{i}}: {{action.type}}</h5>
        <small *ngIf="action.selector">
            selector: {{action.selector}}
        </small>
        <small *ngIf="action.value">
            value: {{action.value}}
        </small>
        <small *ngIf="action.url">
            url: {{action.url}}
        </small>
        <small *ngIf="action.filename">
            filename: {{action.filename}}
        </small>
    </li>
</ul>