<div class="row">
    <div class="col">
        <div class="d-flex justify-content-between">
            <h5 class="mb-1">{{action.id}}: {{action.name}}</h5>
            <button *ngIf="!edit" class="btn btn-sm btn-outline-primary" (click)="onToggleEdit()">
                <fa-icon icon="pen"></fa-icon> Edit
            </button>
            <button *ngIf="edit" class="btn btn-sm btn-primary" (click)="onToggleEdit()">
                <fa-icon icon="check"></fa-icon> Done
            </button>
        </div>

        <div *ngIf="isGoTo(action)">
            <p *ngIf="!edit">url: {{asGoTo(action).url}}</p>
            <div *ngIf="edit" class="form-group">
                <label>url:</label>
                <input type="url" class="form-control" placeholder="url" [(ngModel)]="asGoTo(action).url">
            </div>
        </div>

        <div *ngIf="isHtmlElementAction(action)">
            <p>
                boundingBox:
                x: {{asHtmlElementAction(action).boundingBox.x}},
                y: {{asHtmlElementAction(action).boundingBox.y}},
                width: {{asHtmlElementAction(action).boundingBox.width}},
                height: {{asHtmlElementAction(action).boundingBox.height}},
                top: {{asHtmlElementAction(action).boundingBox.top}},
                right: {{asHtmlElementAction(action).boundingBox.right}},
                bottom: {{asHtmlElementAction(action).boundingBox.bottom}},
                left: {{asHtmlElementAction(action).boundingBox.left}}
            </p>

            <div *ngIf="isRead(action)">
                <p *ngIf="!edit">value: {{asRead(action).value}}</p>
                <div *ngIf="edit" class="form-group">
                    <label>value:</label>
                    <input type="text" class="form-control" placeholder="value" [(ngModel)]="asRead(action).value">
                </div>
            </div>

            <div *ngIf="isType(action)">
                <p *ngIf="!edit">value: {{asType(action).value}}</p>
                <div *ngIf="edit" class="form-group">
                    <label>value:</label>
                    <input type="text" class="form-control" placeholder="value" [(ngModel)]="asType(action).value">
                </div>
            </div>

            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Method</th>
                        <th scope="col">Type</th>
                        <th scope="col">Value</th>
                        <th scope="col">Executable</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let selector of asHtmlElementAction(action).selectors">
                        <td>{{selector.method}}</td>
                        <td>{{selector.type}}</td>
                        <td>{{selector.value}}</td>
                        <td>
                            <span *ngIf="selector.executable" class="badge badge-success">
                                <fa-icon icon="check"></fa-icon>
                            </span>
                            <span *ngIf="!selector.executable" class="badge badge-danger">
                                <fa-icon icon="times"></fa-icon>
                            </span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <img *ngIf="action.image" [src]="action.image">
    </div>
</div>