<div class="row">
    <div class="col">
        <h5 class="mb-1">{{action.id}}: {{action.type}}</h5>
        <p *ngFor="let selector of action.selectors; let i = index">
            selector {{i}}: {{selector}}
        </p>
        <p *ngIf="action.value">
            value: {{action.value}}
        </p>
        <p *ngIf="action.url">
            url: {{action.url}}
        </p>
        <p *ngIf="action.filename">
            filename: {{action.filename}}
        </p>
        <p *ngIf="action.id">
            id: {{action.id}}
        </p>
        <p *ngIf="action.boundingBox">
            boundingBox: 
            x: {{action.boundingBox.x}},
            y: {{action.boundingBox.y}},
            width: {{action.boundingBox.width}},
            height: {{action.boundingBox.height}},
            top: {{action.boundingBox.top}},
            right: {{action.boundingBox.right}},
            bottom: {{action.boundingBox.bottom}},
            left: {{action.boundingBox.left}}
        </p>
        <img *ngIf="action.image" [src]="action.image">
        <button class="btn btn-danger" (click)="onClose()">Close</button>
    </div>
</div>